
.header {
    padding-top: 1em;
    background-color: white;
}

.header-text {
    color: green;
    padding: 0 14px;
    font-size: 1.75rem;
}

.logo {
    flex: 1 1 auto;
}

img {
    padding: 5px;
    height: auto;
    max-width: 20%;
}