
.chat-input-widget {
    display: flex;
    position: absolute;
}

mat-form-field {
    width: 80%;
    height: 0;
    color: black;
}

mat-card {
    width: 475px;
    background-color: white;
}

.button {
    position: relative;
    text-align: right;
    margin-top: 1rem;
    right: 6rem
}

button {
    position: absolute;
    background-color: green;
}