<div class="header">
    <div class="grid grid-cols-8">
        <div class="col-span-2">
            <div class="grid justify-items-start">
                <span class="text-2xl pt-10 pl-4 text-green-700 font-bold">Chat@HSG</span>
            </div>
        </div>
        <div class="col-span-6 bg-gray-50">
            <div class="grid justify-items-end">
                <div class="w-1/4 h-1/4 pr-4 pt-4">
                    <img class="w-auto h-auto" src="../assets/logo.svg">    
                </div>
            </div>                
        </div>
    </div>
</div>