.chat-area  {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.chat-area > :first-child {
    margin-top: auto;
}

.chat-bubble-container  {
    display: flex-start;
}

@media (max-width: 767px) {

    .chat-bubble {
        background: green;
        padding-top: 8px;
        padding-bottom: 18px;
        padding-left: 8px;
        padding-right: 100px;
        margin-bottom: 16px;
        border-radius: 8px;
        width: 100%;
        color: black;
        font-size: 1rem;
        text-align: left;
    }

}


.chat-bubble {
    background: green;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: 100%;
    color: black;
    font-size: 1rem;
}

.chat-header {
    display: flex;
}

.chat-header > img {
    margin-right: 8px;
    object-fit: cover;
    border-radius: 50%;
    height: 35px;
}

.chat-header > span {
    margin-left: 3px;
    margin-top: 7.25px;
    font-size: 0.7rem;
    color: whitesmoke;
    opacity: 0.5;
}

.chat-header > h4 {
    margin-top: 4px;
    color: white;
}

.chat-bubble > p {
    margin-left: 42px;
    color: white;
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble-container.sender > .chat-bubble {
    background: green;
    color: white;
}



