.chat-area  {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
}

.chat-area > :first-child {
    margin-top: auto;
}

.chat-bubble-container  {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble {
    background: white;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    border-radius:  8px;
    width: 100%;
    color: black;
    position: relative;
    font-size: 1rem;
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble-container.sender > .chat-bubble {
    background: green;
    color: white;
}

.chat-date {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: rgba(0,0,0,0.6);
}

