<div class="chat-area" #scrollFrame>
    <ng-container *ngIf="nickname as currentUser">
        <ng-container *ngIf="messages as messages$">
            <div 
            class="chat-bubbble-container" 
            *ngFor="let msg of messages$"
            [ngClass]="{ sender: isItMe(msg.nickname) }">
                <div class="chat-bubble">
                    <div class="chat-header">
                    <img class="chat-image" src="../../../../assets/default.png"/>
                    <h4>{{ msg.nickname }}</h4> 
                    <span>{{ msg.createdAt | date : 'M/d/yy, h:mm' : 'fr'}}</span>
                    </div>
                    <p class="chat-text" [innerHTML]="msg.message"></p>
                </div>
              </div>
          <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
        </ng-container>
    </ng-container>
</div> 