

.chat-container {
    display: flex;
    height: calc(100vh - 100px);
}

.chat-list {
    width: 40%;
    margin: 16px;
    background: white;
    border-radius: 16px;
}

.messages {
    width: 60%;
    margin: 16px;
    border-radius: 16px;
    padding: 24px;
    background-color: rgba(0,0,0,0.05);
}

.search-input {
    margin: 24px;
}

.chat-name {
    font-weight: 500;
    color: green;
}

h4 {
    color: green;
}

.messages-header {
    display: flex;
    margin-bottom: 8px;
}

.messages-header > img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    height: 35px;
}

.messages-header > h2 {
    margin: 0;
    color: green;
}

.chat-area  {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
}

.chat-area > :first-child {
    margin-top: auto;
}

.input-area > mat-form-field {
    width: 100%;
    font-size: 14px;
    color: green;
}

.input-area {
    padding-top: 16px;
    padding-bottom: 8px;
}

mat-icon {
    width: 100%;
    color: green;
}

.chat-bubble-container  {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble {
    background: white;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    border-radius:  8px;
    width: fit-content;
    color: black;
    position: relative;
    font-size: 1.25rem;
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble-container.sender > .chat-bubble {
    background: green;
    color: white;
}


.chat-date {
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: rgba(0,0,0,0.6);
}