

.chat-container {
    display: flex;
    height: calc(100vh - 100px);
}

.chat-list {
    width: 40%;
    margin: 16px;
    background: white;
    border-radius: 16px;
}

.messages {
    width: 60%;
    margin: 16px;
    border-radius: 16px;
}

.search-input {
    margin: 24px;
}

.chat-name {
    font-weight: 500;
    color: green;
}

h4 {
    color: green;
}