<mat-toolbar class="bg-white flex justify-between">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon> 
    </button>     
    <div class="text">
        <span class="text-2xl pt-10 pl-4 text-green-700 font-bold">Chat@HSG</span>
    </div>
    <div class="logo">
        <img class="w-32 h-32" src="../assets/logo.svg">    
    </div>      
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" mode="side" opened #sidenav="matSidenav">
        <div class="user">
            <img class="avatar mat-elevation-z8" src="../assets/boris.jpg">
            <mat-divider></mat-divider>
            <h4 class-="name">Boris</h4>
            <p class="designation">Student</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
            <div class="content mat-elevation-z4">
                <!-- Chat Components -->
                <app-home></app-home>
            </div>
    </mat-sidenav-content>
</mat-sidenav-container>



<!-- 
<div class="grid grid-cols-4">
    <div class="col-span-1">
        <div class="container flex flex-col">
            <div class="self-center">
                <img class="w-16 md:w-32 lg:w-48 rounded-full" src="../assets/boris.jpg"> 
                <p class="text-center pt-2 font-medium text-2xl">{{ username }}</p>
            </div>
            <div class="px-4 self-center">
                <profile-input (usernameInput)="changeUsername($event)"></profile-input>
            </div>
        </div>
    </div>
    <div class="col-span-3 bg-gray-50">
        <div class="grid grid-cols-2">
            <div class="col-span-1">
                <div class="flex flex-col">
                    <div class="flex justify-between">
                        <span class="self-center mx-3 text-2xl font-medium">Chats</span>
                        <div class="mx-3 my-3 text-m w-40 bg-gradient-to-r from-green-600 to-green-700 py-4 px-4 shadow rounded-xl">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" stroke="#fff" />
                                </svg>
                                <span class="my-0.5 mx-4 text-white text-l font-medium">Neuer Chat</span>
                            </div>
                        </div>
                    </div>
                    <div class="mx-3 my-3 text-m bg-white py-4 px-4 shadow rounded-xl bg-gradient-to-r hover:from-green-700 hover:to-green-600 hover:text-white ">
                        <div class="flex flex-row">
                            <img class="w-12 md:w-12 lg:w-42 rounded-full" alt="blank-avatar-logo" src="../assets/blank-avatar.png">
                            <span class="self-center mx-3 text-xl font-medium">Max Mustermann</span>
                        </div>
                    </div>
                    <div class="mx-3 my-3 text-m bg-gradient-to-r py-4 px-4 from-green-700 to-green-600 py-4 px-4 shadow rounded-xl">
                        <div class="flex flex-row">
                            <img class="bg-white w-12 md:w-12 lg:w-42 rounded-full" alt="unisg-logo" src="../assets/logo-01.svg">
                            <span class="self-center mx-3 text-xl text-white">ServiceDesk</span>
                        </div>
                    </div>
                    <div class="mx-3 my-3 text-m bg-white py-4 px-4 shadow rounded-xl bg-gradient-to-r hover:from-green-700 hover:to-green-600 hover:text-white ">
                        <div class="flex flex-row">
                            <img class="bg-white w-12 md:w-12 lg:w-42 rounded-full" alt="unisg-logo" src="../assets/logo-01.svg">
                            <span class="self-center mx-3 text-xl font-medium">DAO</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-1 pr-8">
                <div class="container bg-white flex flex-col">
                    <div class="bg-gray-100 px-4 py-4">
                        <div class="flex flex-row">
                            <div class="">
                                <img class="bg-white w-12 md:w-12 lg:w-42 rounded-full" alt="unisg-logo" src="../assets/logo-01.svg">
                            </div>
                            <div class="ml-4 self-center">
                                <span class="text-l font-medium">{{ username }}</span>
                            </div>
                        </div>    
                    </div>
                    <app-chat-output></app-chat-output>
                    <mat-divider></mat-divider>
                    <app-chat-input [username]="username"></app-chat-input>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <app-footer></app-footer>     -->
