<app-header></app-header>
<main>
    <div class="my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-row mx-1 lg:mx-4">
            <div class="container my-1 px-1 w-full md:w-1/2 lg:my4 lg:mx-4 lg:w-1/3">
                <div class="">
                    <div class="">
                        <img class="w-16 md:w-32 lg:w-48 rounded-full" src="../assets/default.png"> 
                        <h1>Profilbild</h1>
                    </div>
                    <div class="">
                        <profile-input></profile-input>
                    </div>
                </div>
            </div>
            <div class="container my-1 px-1 w-full md:w-1/2 lg:my4 lg:mx-4 lg:w-1/3">
                <div class="">
                    <div class="h-96 overflow-y-scroll">
                        <app-chat-output></app-chat-output>
                    </div>
                    <div>
                        <app-chat-input></app-chat-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>