

        <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
                <div class="grid grid-cols-6 gap-y-2">
                <div class="" *ngIf="chats.length > 0">
                    <div class="col-start-1 col-end-8 p-3 rounded-lg" *ngFor="let message of chats">
                        <div class="flex flex-row items-center">
                            <div class="flex justify-center h-10 w-10 rounded-full flex-shrink-0">
                                <img class="w-16 md:w-32 lg:w-48 rounded-full" src="../assets/default.png">
                            </div>
                            <div class="grow relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                                <div class="">Username: {{ username }}</div>
                                <div class="">{{ message.chatContent }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

